# Database
DATABASE_URL=" "

# NextAuth
NEXTAUTH_URL=" "
NEXTAUTH_SECRET=" "

# AI/LLM 
GOOGLE_GENERATIVE_AI_API_KEY=" "

# Intervals.icu Integration 
INTERVALS_API_BASE_URL=" "

# Cron Job Secret
CRON_SECRET=" "
